form.search-bar(method="get" action="/books/search")
    if search 
        input(type="text" name="search" value=search)
    else
        input(type="text" name="search" placeholder="...Search")
    input(type="submit" value="Search")